.green-button {
    color: green;
    font-size: 15px;
}

.red-button {
    color: red;
    font-size: 15px;
}

.orange-button {
    color: orange;
    font-size: 15px;
}

.blue-button {
    color: blue;
    font-size: 15px;
}

.green-label {
    color: green;
    font-size: 15px;
}
